# Created by .ignore support plugin (hsz.mobi)
.idea/
armitage.iml
dist
release
<<<<<<<
/armitage.jar
=======
/armitage.jar
/armitage.tgz
/armitage.zip
/cortana.jar
armitage.jar
armitage.tgz
armitage.zip
bin/
cortana.jar
scripts-cortana/login_autopwn/discovered_usernames.txt
scripts-cortana/login_autopwn/ssh_socks_pivot_key
scripts-cortana/login_autopwn/ssh_socks_pivot_key.pub
>>>>>>>
